# Dependências
node_modules/

# Build
dist/
build/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Prisma
prisma/migrations/dev.db
prisma/*.db

# Logs
logs/
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Testes
coverage/

# Cache
.cache/
.eslintcache
